# t-test

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [40]:
df=pd.read_csv(r"C:\Users\joshi\Downloads\train_and_test2.csv")
df

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1305,1306,39.0,108.9000,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,0
1306,1307,38.5,7.2500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1307,1308,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1308,1309,28.0,22.3583,0,1,0,0,0,0,0,...,0,0,0,3,0,0,0.0,0,0,0

In [13]:
pop=df["Age"].dropna()
pop

0       22.0
1       38.0
2       26.0
3       35.0
4       35.0
        ...
1304    28.0
1305    39.0
1306    38.5
1307    28.0
1308    28.0
Name: Age, Length: 1309, dtype: float64

In [14]:
sample_age=pop.sample(25).values
sample_age

array([21. , 24. , 31. , 57. , 30.5, 15. , 28. , 21. , 40. , 28. , 45. ,
       28. , 24. , 30. ,  6. , 18. , 28. , 29. , 28. , 32. , 16. , 27. ,
       54. , 21. , 58. ])

In [15]:
# H0 = mean age is 35
# Ha = mean age is less than 35

In [16]:
from scipy.stats import shapiro

In [17]:
shapiro(sample_age)

ShapiroResult(statistic=np.float64(0.9000861264816397), pvalue=np.float64(0.018425655015236134))

In [19]:
pop_mean=35

In [21]:
from scipy.stats import stats

In [35]:
t_statistic, p_value=stats.ttest_1samp(sample_age, pop_mean)

print(f"t_statistic : {t_statistic}")
print(f"p-value : {p_value/2}")

t_statistic : -2.125669998915383
p-value : 0.02200910964319679

 can't reject the null hypothesis

# t-test 2 sample (independent)

In [56]:
#h0 = age of male and female is similar
#ha = age of male and famale is significantly different

In [45]:
pop_male=df[df["Sex"]==1]["Age"].dropna()
pop_female=df[df["Sex"]==0]["Age"].dropna()

In [49]:
sample_male=pop_male.sample(25)
sample_female=pop_female.sample(25)

alpha=0.05

In [51]:
print(shapiro(sample_male))
print(shapiro(sample_female))

ShapiroResult(statistic=np.float64(0.9355174584652779), pvalue=np.float64(0.11659043806269315))
ShapiroResult(statistic=np.float64(0.9355168525854828), pvalue=np.float64(0.11658667330527822))

In [52]:
from scipy.stats import levene

In [54]:
print(levene(sample_male, sample_female))

LeveneResult(statistic=np.float64(0.39074990207314814), pvalue=np.float64(0.5348660830406329))

In [55]:
t_statistic, p_value=stats.ttest_ind(sample_male, sample_female)

print(f"t_statistic : {t_statistic}")
print(f"p-value : {p_value/2}")

t_statistic : -0.6636602246874178
p-value : 0.2550414876508874

hence we cant reject the null hypothesis for now

# t-test 2 sample (dependent)

In [76]:
# Ho mean of before=after
# Ha mean of before>>after

In [59]:
before=np.array([80,82,95,76,84,98,87,85,84,73,77,89,90,89,71])
after=np.array([89,78,79,89,90,89,87,84,73,82,81,95,98,84,76])

differences=before-after

In [65]:
mean_diff=np.mean(differences)
std_diff=np.std(differences)
n=len(differences)

In [68]:
t_statistic=mean_diff/(std_diff/np.sqrt(n))
df=n-1

In [69]:
t_statistic

np.float64(-0.44384470688225186)

In [70]:
alpha=0.05

In [72]:
from scipy.stats import t

In [74]:
t.cdf(t_statistic, df)

np.float64(0.33196886873915493)

In [75]:
p_value

np.float64(0.5100829753017748)

can't reject the null hypothesis